.content
  %h1
    Your Account Book
  .app-info
    （家計簿アプリ）
  .wrapper.fadein2
    .image.account
      = link_to 'http://52.69.73.14/' do
        = image_tag '/家計簿アプリ.png'
    .details
      %h2
        企画背景：
        %p 私自身が家計管理（節約）が好きでSNS等を利用して情報収拾をしています。
        %p その中で、多くの人がエクセルや手書きの家計簿を利用していることに気づきました。
        %p その原因は、既存のアプリは、支出項目（カテゴリー）があらかじめ決められいる等、ユーザーがカスタマイズしづらく、自分に合った使い方ができないことだと考えました。
        %p そこで、『自由度の高い家計簿アプリ』をテーマにこのアプリを作成しました。

      %h2 
        主な機能：
        %p ユーザー登録、ログイン、家計簿の投稿、カテゴリー作成、タグ付け、予算の作成
        %p 集計機能（使用した金額をカテゴリー別に集計、円グラフで支出の割合を表示）

      %h2 
        制作時間：
        %p 108時間

      %h2 
        今後の実装：
        %p ・集計機能を拡充し、より自由度を高める
        %p ・ユーザー同士で比較できる機能を実装
        %p   →ユーザーを属性（住んでいる地域や家族構成）ごとに分類。
        %p   都会で車を持っている４人家族の食費は、平均で〇〇円等、支出の目安となるデータを提供する。