.content
  %h1
    Chat-space（スクール課題）
  .wrapper
    .image.chat
      = image_tag '/チャットアプリ.png'
    .details
      %h2 
        主な機能：
        %p ユーザー登録、ログイン、グループ作成
        %p 非同期通信によるメッセージの自動更新

      %h2 
        テスト用アカウント：
        %p ・Email　　  : test1@com
        %p ・Name　 　　: テスト太郎
        %p ・パスワード　: 11111111 
