%top
  =image_tag "/top.jpeg", class:"top_image resizeimage"
.profile
  .main
    %h1 Profile
    %p 吉田　理絵｜ Yoshida Rie
    %ul
      %li ・大阪府生まれ
      %li ・大阪市立大学経済学部を卒業後、都内のクレジットカード会社勤務
      %li ・クレジットカードの加盟店開拓業務に携わり、５年半法人営業
      %li ・２０１８年下期　社内表彰で最優秀賞
      %li ・２０１９年８月より、プログラミングスクールTECH::EXPERTへ入学。
      %li ・ユーザーの生活を少しでも便利にできるエンジニアを目指して転職活動中


.works
  .main
    %h1 My Works
    %ul
      %li ・家計簿アプリ
      %li ・旅行に特化したブログアプリ
      %li ・収益計算アプリ
      %li ・チャットアプリ（スクール課題）
      %li ・フリマアプリ（スクール課題）
      %li ・Qiita記事
      %li ・tweeter


.skills
  .main
    %h1 Skills
    %ul
      %li 学んだスキル
      %li HTML/CSS/JavaScript/JQuery/Ruby/Rails
      %li Git,Github/MySQL/AWS

.contact
  .main
    %h1 contact
    %p 
      = link_to "https://twitter.com/riebo24", class: "deco_none" do 
        =image_tag "/twitter.png", class: "icon"
      = link_to "#" do 
        =image_tag "/mail3.png", class: "icon"