/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "./reset";
@import "./top";

*{
  box-sizing: border-box;
  // font-family: 'Amatic SC', cursive;                //英数字用フォント Amatic SC
  font-family: 'M+ Type-1 (general-j) Regular';  //日本語用フォント M+ FONTS
  // font-family: 'Dancing Script', cursive;        //数字用フォント
  text-align: center;
  max-width: 100%;
  word-break: break-all;
}




//汎用的に使うもの
h1{
  font-family: 'Amatic SC', cursive;
  margin-bottom: 50px;
  @include large;
}

.black{
  color: black;
}

.font-large{
  @include large;
}

.font-medium{
  @include medium;
}

.font-small{
  @include small;
}

#wrapper{
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

.deco_none{
  text-decoration: none;
  color: #707070;
}

.color70{
  color: #707070;
}

.width300{
  width: 80vw;
  max-width: 300px;
  p{
    text-align: left;
    margin-left: 40px;
  }
}


//汎用的に使うもの 終了



