//mixin 
@mixin main($padding: 100px 20px){
  width: 100vw;
  background: -webkit-linear-gradient(125deg, white 0%, #E1E6EC 100%);
  background: linear-gradient(125deg, white 0%,#E1E6EC 100%);
  background-blend-mode: normal,color-burn;
  padding: $padding;
  position: relative;
  scrollbar-width: none;
}

@mixin large {
  font-size: calc(35px + ((1vw - 6px)*5/6));
}

@mixin medium {  
  font-size: calc(20px + ((1vw - 6px)*5/6));
}

@mixin small {
  font-size: calc(15px + ((1vw - 6px)*2/6));
}

@mixin smaller {
  font-size: calc(13px + ((1vw - 6px)*2/6));
}
//mixin 終了

.top{
  width: 100;
  position: relative;
  .cover{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a0a0a0;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    z-index: 9;
  }

.top_image{
  size: 100px;
	vertical-align: bottom;
}

.resize-image{
  width: 100vw;
  height: 100vh;
  }
}




// welcomeクラス
.welcome{
  font-family: 'Amatic SC', cursive;
  text-align: left;
  position: absolute;
  top: 60vh;
  left: 5vw;
  -webkit-transform : translateY(-40%);
  transform : translateY(-40%);  
  z-index: 10;

  ul{
    width: 50vw;
    overflow: scroll;
    max-width: 350px;
    min-width: 200px;
    margin-right: 0;
  }

  li{
    text-align: left;
    font-family: 'Amatic SC', cursive;
    color: #000;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 8px 15px 0px 15px;
    margin-bottom: 10px;
    transition: all 0.5s ease-in;
    opacity: 0;
    margin-left: 0px;
}

.large{
  @include large;
  width: 50vw;
  max-width: 350px;
  min-width: 200px;
}

.medium{
  @include medium;
  width: 22vw;
  max-width: 150px;
  min-width: 120px;
  margin-left: 0px;
  // margin-left: 15vw;
}

  li:nth-child(1){
    transition-delay:0s;
  }

  li:nth-child(2){
    transition-delay:0.5s;
  }

  li:nth-child(3){
    transition-delay:1.0s;
  }

  li:nth-child(4){
    transition-delay:1.5s;
  }
  li:nth-child(5){
    transition-delay:2.0s;
  }
}
  //アニメーション付与
  .changed li{
    transform: translateX(30px);
    opacity: 0.5;
  }

// welcomeクラス終了




.profile, .works, .skills, .contact{
  @include main;
}

//その他のCSS
.profile::-webkit-scrollbar, .works::-webkit-scrollbar, .skills::-webkit-scrollbar {
  display:none;
}


.main{
  margin: 0 auto;
}



.profile{
  height: 100vh;
  .main{
    ul{
      margin: 50px 0vw 0px 25vw;
      width: 60vw;
      max-width: 700px;
      min-width: 200px;
      li{
        word-wrap: break-word;  // width以上にはみだした場合、文字の区切れを探して折り返す
        text-align: left;
        box-sizing: border-box;
      }
    }
  }
}


.works{
  @include main(50px 0px);
  
  .main{
    margin: 0 auto;
    ul{
      margin: 0 auto;
      width: 90vw;
      display: flex;
      flex-wrap:wrap;
      li{
        margin: 0 auto;
        width: 80vw;
        text-align: center;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        .more_info{
          padding-top: 10px;
          color: #707070;
        }
        .rotate{
          margin-top: 10px;
          //アプリ名と画像のスペース
        }
        .rotate:hover{
          transition: all 1.5s linear 0s;
          transform: rotateY(360deg);
        }
      }
    }
  }
}

.skills{
  height: 100vh;
  .main{
    ul{
      width: 300px;
      margin: 0 auto;
      li{
        text-align: left;
      }
    }
  }
}

.contact{
  height: 100vh;
}

.icon{
  width: 50px;
  color: gray;

  padding-top: 30px;
}
.git_icon{
  padding-left: 5px;
  width: 60px;
  color: gray;
}


//詳細説明
.content{
  @include main(50px 50px); 
  height: 100vh;
  .wrapper{
    display: flex;
    justify-content: space-between;
  }
  .image{
    height: 100%;
    width: 45vw;
    max-width: 700px;
    background-color: white;
    img{
      height: 100%;
      width: 45vw;
      max-width: 700px;
    }
    }
  .details{
    //詳細をまとめるクラス
    height: 75vh;
    width: 45vw;
    max-width: 700px;
    overflow: scroll;
    opacity: 0.8;

    &::-webkit-scrollbar {
      display:none;
    }
    h2{
      background-color: white;
      width: 100%;
      text-align: left;  
      padding-bottom: 20px;
    }
    p{
      text-align: left;
      padding-left: 20px;
      @include smaller;
    }
  }
}
//詳細説明end


// 画面幅が600pxまで
@media screen and (max-width:600px){
  *{
    height: auto;
  }
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .top{
    position: relative;
    overflow: hidden;
    .resize-image{
      width: 100vw;
      height: 67.6vh;
    }
    .cover{
      font-weight: 530;
      width: 100vw;
      height: 67.6vh;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  .welcome{
    font-family: 'Amatic SC', cursive;
    text-align: left;
    position: absolute;
    top: 40vh;
    left: 5vw;
    -webkit-transform : translateY(-40%);
    transform : translateY(-40%);  
    z-index: 10;
    .large{
      font-weight: 530;
    }
    li{
      opacity: 0.5;
    }
  }


  .profile{
    height: auto;
    .main{
      width: 90vw;
      ul{
        width: 90vw;
        margin: 50px auto;
        text-align: center;
      }
      li{
        width: 90vw;
        margin: 0 auto;
      }
    }
  }

  .works{
    .main{
      ul{
        margin: 0 auto;
        li{
          max-width: 300px;
          display: block;
          //display:flexを解除

        }
      }
    }
  }

  .width300{
    width: 80vw;
    max-width: 300px;
    margin: 0 auto;
    p{
      text-align: left;
      margin-left: 60px;
    }
  }

}