@mixin main($padding: 100px 50px){
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(125deg, white 0%, #E1E6EC 100%);
  background: linear-gradient(125deg, white 0%,#E1E6EC 100%);
  background-blend-mode: normal,color-burn;
  padding: $padding;
  position: relative;
  overflow: scroll;
  scrollbar-width: none;
}

body{
  overflow: scroll;
}

.top{
  position: relative;
  .cover{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a0a0a0;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    z-index: 9;
  }
  .welcome{
    font-family: Amatic SC;
    position: absolute;
    top: 80%;
    left: 20%;
    z-index: 100;
    background-color: yellow;
  }

  .welcome li{
    font-family: Amatic SC;
    color: #000;
    background-color: #fff;
    width: 30vw;
    padding: 8px 15px;
    margin-bottom: 10px;
    transition: all 3s ease-in;
    opacity: 0;
    list-style: none;
  }
  .welcome li:nth-child(1){
     transition-delay:0.1s;
  }
  .welcome li:nth-child(2){
     transition-delay:0.6s;
  }
  .welcome li:nth-child(3){
     transition-delay:1.1s;
  }
  .welcome li:nth-child(4){
     transition-delay:1.6s;
  }
  .welcome li:nth-child(5){
     transition-delay:2.1s;
  }
  .welcome.henka li{
    transform: translateX(30px);
    opacity: 1;
  }








.top_image{
  size: 100px;
	vertical-align: bottom;
}

.resizeimage{
  width: 100%;
  height: 100vh;
}
}

h1{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin-bottom: 50px;
}



.profile, .school_works2, .skills, .contact{
  @include main;
}

.profile::-webkit-scrollbar, .my_works::-webkit-scrollbar, .school_works::-webkit-scrollbar, .skills::-webkit-scrollbar {
  display:none;
}


.main{
  margin: 0 auto;
}


.profile{
  .main{
    ul{
      margin: 50px auto;
      width: 550px;
      li{
      text-align: left;
      }
    }
  }
}

.my_works{
  @include main(50px 50px);
  .main{
    ul{
      margin: 20px auto;
      width: 90%;
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      li{
      text-align: left;
      margin: 30px;
        .rotate:hover{
          transition: all 1.5s linear 0s;
          transform: rotateY(360deg);
        }
      }
      }
    }
  }

.school_works{
  @include main(50px 50px);
  .main{
    ul{
      margin: 20px auto;
      width: 90%;
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      li{
      text-align: left;
      margin: 30px;
      }
    }
  }
}

.skills{
  .main{
    ul{
      width: 300px;
      margin: 0 auto;
      li{
        text-align: left;
      }
    }
  }
}

@media screen and (max-width:480px){
    /*画面幅が480pxまでの時*/
}
@media screen and (min-width:481px){
  }
  


.icon{
  width: 60px;
  color: gray;
}

.deco_none{
  text-decoration: none;
  color: black;
}

.width300{
  width: 300px;
}


