//mixin 
@mixin main($padding: 100px 20px){
  width: 100vw;
  background: -webkit-linear-gradient(125deg, white 0%, #E1E6EC 100%);
  background: linear-gradient(125deg, white 0%,#E1E6EC 100%);
  background-blend-mode: normal,color-burn;
  padding: $padding;
  position: relative;
  scrollbar-width: none;
}
//mixin 終了


//汎用的に使うもの
h1{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin-bottom: 50px;
}

.black{
  color: black;
}

//汎用的に使うもの 終了



body{
  // overflow: scroll;
}

.top{
  width: 100;
  position: relative;
  .cover{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a0a0a0;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    z-index: 9;
  }

.top_image{
  size: 100px;
	vertical-align: bottom;
}

.resize-image{
  width: 100%;
  height: 100vh;
}
}




// welcomeクラス
.welcome{
  font-family: 'Amatic SC', cursive;
  text-align: left;
  position: absolute;
  top: 70%;
  left: 10%;
  -webkit-transform : translateY(-70%);
  transform : translateY(-70%);  
  z-index: 10;

  .large{
    font-size: 50px;
    width: 350px;
  }

  .small{
    font-size: 20px;
    width: 150px;
    margin-left: 200px;
  }

  li{
  text-align: left;
  font-family: 'Amatic SC', cursive;
  color: #000;
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in;
  opacity: 0;
  list-style: none;

}

  li:nth-child(1){
    transition-delay:0s;
  }

  li:nth-child(2){
    transition-delay:0.5s;
  }

  li:nth-child(3){
    transition-delay:1.0s;
  }

  li:nth-child(4){
    transition-delay:1.5s;
  }
  li:nth-child(5){
    transition-delay:2.0s;
  }
  li:nth-child(6){
    transition-delay:2.5s;
  }
}
  //アニメーション付与
  .changed li{
    transform: translateX(30px);
    opacity: 0.5;
  }

// welcomeクラス終了




// .profile, .works, .skills, .contact{
//   @include main;
// }

//その他のCSS
.profile::-webkit-scrollbar, .works::-webkit-scrollbar, .skills::-webkit-scrollbar {
  display:none;
}


.main{
  margin: 0 auto;
}


.profile{
  height: 100vh;
  .main{
    ul{
      margin: 50px auto;
      width: 550px;
      li{
      width: 70vw;
      word-wrap: break-word;  // width以上にはみだした場合、文字の区切れを探して折り返す
      text-align: left;
      box-sizing: border-box;
      margin: 0px 30px;
      }
    }
  }
}

// .my_works{
//   @include main(50px 50px);
//   .main{
//     ul{
//       margin: 0 auto;
//       width: 90vw;
//       display: flex;
//       flex-wrap:wrap;
//       justify-content: center;

//       li{
//       margin: 0 auto;
//       text-align: left;
//       margin-bottom: 40px;
//       overflow-x: hidden;
//       width: 90vw;
//       text-align: center;
//         .rotate:hover{
//           transition: all 1.5s linear 0s;
//           transform: rotateY(360deg);
//         }
//       }
//     }
//   }
// }

.works{
  @include main(50px 0px);
  
  .main{
    margin: 0 auto;
    ul{
      margin: 0px auto;
      width: 90vw;
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      li{
        margin: 0 auto;
      width: 80vw;
      text-align: left;
      margin-top: 30px;
      }
    }
  }
}

.skills{
  height: 100vh;
  .main{
    ul{
      width: 300px;
      margin: 0 auto;
      li{
        text-align: left;
      }
    }
  }
}

.contact{
  height: 100vh;
}

.icon{
  width: 60px;
  color: gray;
}

.deco_none{
  text-decoration: none;
  color: black;
}

.width300{
  width: 80vw;
  max-width: 300px;
  margin: 0 auto;
}



// 画面幅が600pxまで
@media screen and (max-width:600px){
  body{
    width: 100vw;
    overflow-x: hidden;
  }
  .top{
    .resize-image{
      width: 100wh;
      height: 50vh;
    }
    .cover{
      width: 100vw;
      height: 50vh;
    }
  }
  h1{
    font-size: 30px;
  }

  .my_works{
    .main{
      margin: 0 auto;
    }
    .ul{
      display: block;
    }
  }

  .school_works{
    .main{
      ul{
        display: block;
      }
    }
  }
}